@font-face {
  font-family: "Hacen Samra Lt";
  font-style: normal;
  font-weight: 400;
  src: url("Hacen Samra Lt.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Hacen Samra Lt";
  font-style: normal;
  font-weight: 700;
  src: url("Hacen Samra Lt.ttf") format("truetype");
  /* لو عايز تحصر اللاتيني + العربي مع بعض */
  unicode-range: U+0000-00FF, U+0600-06FF;
}

body {
  font-family: "Hacen Samra Lt", Arial, sans-serif;
  text-align: center;
}

h1 { font-weight: 700; }
h2 { font-weight: 400; }
