@font-face {
  font-family: "Hacen Samra Lt";
  font-style: normal;
  font-weight: normal;
  src: url("Hacen Samra Lt.ttf") format("truetype");
  font-display: swap; /* أفضل من auto */
}

body {
  font-family: "Hacen Samra Lt", Arial, sans-serif;
  text-align: center;
}


