@font-face {
    font-family: 'HacenSamra';
    src: local('Hacen Samra Lt'),
         url('Hacen-Samra-Lt.ttf') format('truetype');
    unicode-range: U+0000-00FF,  /* Basic Latin */
                   U+0600-06FF,  /* Arabic */
                   U+200C-200F,  /* Zero-width non-joiners */
                   U+2010-2011,  /* Dashes */
                   U+FB50-FDFF,  /* Arabic Presentation Forms-A */
                   U+FE80-FEFF;  /* Arabic Presentation Forms-B */
}

body {
    font-family: 'HacenSamra', Arial, sans-serif;
}
